---
import { Icon } from "astro-icon";
---

  
    <section
    id="intro"
    class="flex scroll-mt-24 flex-col items-center gap-4"
  >
    <div class="flex flex-col items-center gap-4">
      <Icon slot="eyebrow" name="logomark" class="h-32" />
    </div>
    <p class="max-w-3xl text-center text-3xl font-light">
      <span class="text-primary">AV Magic</span> is collective of Los Angeles based  <span class="text-primary">artists</span> and <span class="text-primary">technicians</span> that utilize their deep knowledge and creativity to produce <span class="text-primary">extraordinary</span> experiences.
    </p>
    <slot />
  </section>



