---
import ContentSection from "~/components/content-section.astro";
import TeamCard from "~/components/team-card.astro";
import { getTeam } from "~/data/team"

const team = await getTeam();
---

<ContentSection title="Team" id="team">
  <!-- <Fragment slot="lead">
    Astro is <span class="text-primary">versatile</span>.{" "}
    Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment> -->
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
      {team.map((person) => <TeamCard person={person} />)}
    </div>
  </div>
</ContentSection>
